[submodule "Voting/lib/forge-std"]
	path = Voting/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Auction/lib/forge-std"]
	path = Auction/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "MultiSig/lib/forge-std"]
	path = MultiSig/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "MultiSig/foundry/lib/forge-std"]
	path = MultiSig/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "MultiSig/foundry/lib/foundry-devops"]
	path = MultiSig/foundry/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "Staking/foundry/lib/forge-std"]
	path = Staking/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
